In [8]:
import pandas as pd

# Load the CSV file with encoding specified
file_path = '/content/IL_data.csv'  # Update this if your file path is different

# Try loading with different encodings to handle potential issues
try:
    data = pd.read_csv(file_path, encoding='utf-8')  # Default encoding
except UnicodeDecodeError:
    data = pd.read_csv(file_path, encoding='ISO-8859-1')  # Fallback encoding

# List of columns to analyze
columns_of_interest = [
    'iyear', 'imonth', 'iday', 'country', 'city',
    'latitude', 'longitude', 'nperps', 'nkill', 'nwound',
    'location', 'success', 'attacktype1', 'suicide',
    'targtype1', 'weaptype1_txt', 'gname', 'extended'
]

# Filter the dataset for the specified columns
filtered_data = data[columns_of_interest].dropna()

# Filter for rows where the country is 'Israel'
filtered_data_israel = filtered_data[filtered_data['country'] == 'Israel']

# Remove rows with negative values in numeric columns
for column in columns_of_interest:
    if pd.api.types.is_numeric_dtype(filtered_data[column]):
        filtered_data = filtered_data[filtered_data[column] >= 0]

# Function to display column information
def display_column_info(data):
    """
    Displays information about each column in the dataset, including:
    - Minimum and maximum values for numeric columns
    - Count of unique values
    - Up to 40 unique values for each column
    """
    for column in data.columns:
        print(f"Column: {column}")

        try:
            # Attempt to convert the column to numeric
            numeric_col = pd.to_numeric(data[column], errors='coerce')

            # Check for numeric data and print min/max if applicable
            if numeric_col.notna().any():
                print(f"Min Value: {numeric_col.min()}")
                print(f"Max Value: {numeric_col.max()}")
            else:
                print("No valid numeric data in this column after conversion.")
        except Exception as e:
            # Handle errors for non-numeric columns
            print(f"Error processing column {column}: {e}")

        # Count unique values in the column
        unique_count = data[column].nunique()
        print(f"Unique Values Count: {unique_count}")

        # Display up to 40 unique values
        unique_values = data[column].unique()
        print(f"Unique Values ({min(unique_count, 40)} shown):")
        print(unique_values[:40])

        print("-" * 40)

# Display unique values and statistics for the filtered data
display_column_info(filtered_data)

Column: iyear
Min Value: 1995
Max Value: 2017
Unique Values Count: 17
Unique Values (17 shown):
[1995 1997 1998 1999 2001 2002 2003 2004 2007 2008 2009 2011 2012 2014
 2015 2016 2017]
----------------------------------------
Column: imonth
Min Value: 1
Max Value: 12
Unique Values Count: 12
Unique Values (12 shown):
[11  3 10  8  2  7 12  4  9  6  5  1]
----------------------------------------
Column: iday
Min Value: 1
Max Value: 30
Unique Values Count: 24
Unique Values (24 shown):
[ 4 21 26 10 14 27  9  7 29  2 18 30 12 19 22  8 17 11 13  1 28 16 23  6]
----------------------------------------
Column: country
Min Value: 97
Max Value: 97
Unique Values Count: 1
Unique Values (1 shown):
[97]
----------------------------------------
Column: city
No valid numeric data in this column after conversion.
Unique Values Count: 23
Unique Values (23 shown):
['Tel Aviv' 'Petah Tiqwa' 'Itamar' 'Rehovot' 'Holon' 'Jerusalem'
 'Kissufim' 'Haifa' 'Beit Shean' 'Pardes Hanna' 'Hadera'
 'Jerusalem district' 'Netanya' 'Erez' 'Rosh Haayin' 'Nahal Oz'
 'Eshkol regional council' 'Eilat' 'Unknown' 'Petah Tikva' 'Nitzanei Oz'
 'Raanana' 'Ashkelon']
----------------------------------------
Column: latitude
Min Value: 29.554548
Max Value: 32.793921
Unique Values Count: 32
Unique Values (32 shown):
[32.08297  32.089161 32.171833 31.889393 31.784838 31.376445 31.771599
 32.793921 32.496086 32.473605 32.434788 31.783343 32.329052 32.332612
 31.558212 32.330281 32.09792  31.853918 31.557578 31.502407 31.348022
 31.192114 29.554548 30.829562 32.092586 31.47268  32.305285 32.181371
 32.187722 31.670149 32.321654 31.774722]
----------------------------------------
Column: longitude
Min Value: 34.369413
Max Value: 35.498352
Unique Values Count: 32
Unique Values (32 shown):
[34.811886 34.88382  35.309437 34.809902 35.224613 34.369413 35.2034
 34.990615 35.498352 34.975094 34.92157  35.266543 34.849829 34.851529
 34.543305 34.852969 34.954537 35.263051 34.542934 34.459743 34.491093
 34.449473 34.947533 35.038816 34.84881  34.497675 35.004937 34.870903
 34.868539 34.575153 34.852499 35.177778]
----------------------------------------
Column: nperps
Min Value: 0.0
Max Value: 9.0
Unique Values Count: 6
Unique Values (6 shown):
[1. 2. 3. 4. 0. 9.]
----------------------------------------
Column: nkill
Min Value: 0.0
Max Value: 31.0
Unique Values Count: 11
Unique Values (11 shown):
[ 1.  4.  8.  0. 16.  2.  3. 31.  7.  6. 10.]
----------------------------------------
Column: nwound
Min Value: 0.0
Max Value: 140.0
Unique Values Count: 25
Unique Values (25 shown):
[  1.  47.   0.   6.  17.  28. 130.   8.  38.  37.  60. 140.  20.  32.
  50.   4.  26.   3.  16.   9.   2.   5.   7.  14.  21.]
----------------------------------------
Column: location
No valid numeric data in this column after conversion.
Unique Values Count: 66
Unique Values (40 shown):
["In Tel Aviv's Kings Square."
 'The incident occurred on Ben Gurion Street in the city.'
 'This incident occurred in an olive grove outside the Jewish settlement of Itamar.'
 'This inicident occurred near Rehovot.'
 'The incident occurred at the Azur intersection, near the city.'
 "French Hill, in the Pisgat Ze'ev neighborhood of the city."
 'The incident occurred on a road leading to the Kissufim settlement.'
 'King George Street and Jaffa Road in downtown Jerusalem.'
 "At Checkpoint Junction in Haifa's northern area"
 'This attack occurred close to the Shluhot kibbutz, near Beit Shean in North District, Israel.'
 'This incident occurred at an army base outside the town.'
 'This incident took place near an Israeli military base at the Bardis Hanna intersection outside Hadera in Haifa District, Israel.'
 'In Rehov Hagiborim, Halissa district of Haifa'
 'The incident occurred on the road between Jerusalem and the settlement of Ma\x92aleh Adumim.'
 'The incident occurred at the Jeremy Hotel in the city.'
 'The incident occurred on King George street.'
 'The incident occurred at the Park Hotel in the city.'
 'The incident occurred at the Supersol grocery store.'
 'The incident occurred at My Coffee Shop in the city.'
 'The incident occurred at Mahane Yehuda outdoor market.'
 'The incident occurred in a bus on Allenvy St .'
 'The incident occurred just outside of Pardes Hanna.'
 'The incident took place off the Erez Crossing.'
 'The incident occurred at the Caf√© London in the city.'
 'This incident occurred at an Israeli military base near the Erez border crossing in the northern Gaza Strip.'
 'This incident occurred at a security check point before entry into town.'
 'This incident occurred at the Erez border crossing between Israel and the Gaza Strip.'
 'This incident occurred near the Kalandia checkpoint on the road between Jerusalem and Ramallah.'
 'The incident occurred in the Christian Quarter of the city.'
 'At the Erez Crossing'
 'The incident occurred near the Damascus gate area.'
 'The attack occurred at the fuel depot in Nahal Oz, Gaza Strip, Palestine.'
 'The incident occurred near an Israeli border crossing in Erez, Gaza Strip, Palestine.'
 'The incident occurred in the Eshkol regional council'
 'The attack took place near a bus in Eilat, Southern District, Israel.'
 'The attack occurred on Road 12 in Eilat, Southern District, Israel.'
 'Near Gaza border'
 'The incident occurred on Jabotinsky street near the Geha interchange.'
 'The incident occurred in the Beitar street area.'
 'The incident occurred in the Nahal Oz area']
----------------------------------------
Column: success
Min Value: 0
Max Value: 1
Unique Values Count: 2
Unique Values (2 shown):
[1 0]
----------------------------------------
Column: attacktype1
Min Value: 1
Max Value: 9
Unique Values Count: 5
Unique Values (5 shown):
[1 3 2 8 9]
----------------------------------------
Column: suicide
Min Value: 0
Max Value: 1
Unique Values Count: 2
Unique Values (2 shown):
[0 1]
----------------------------------------
Column: targtype1
Min Value: 1
Max Value: 21
Unique Values Count: 9
Unique Values (9 shown):
[ 2  1 14  4  3 19 20 15 21]
----------------------------------------
Column: weaptype1_txt
No valid numeric data in this column after conversion.
Unique Values Count: 6
Unique Values (6 shown):
['Firearms' 'Explosives'
 'Vehicle (not to include vehicle-borne explosives, i.e., car or truck bombs)'
 'Melee' 'Incendiary' 'Unknown']
----------------------------------------
Column: gname
No valid numeric data in this column after conversion.
Unique Values Count: 9
Unique Values (9 shown):
['Jewish Fighting Organization (Eyal)'
 'Hamas (Islamic Resistance Movement)' 'Israeli settlers' 'Unknown'
 'Palestinian Extremists' 'Palestinian Islamic Jihad (PIJ)'
 'Al-Aqsa Martyrs Brigade' 'Ahrar Al-Jalil (Free People of the Galilee)'
 'Popular Front for the Liberation of Palestine (PFLP)']
----------------------------------------
Column: extended
Min Value: 0
Max Value: 0
Unique Values Count: 1
Unique Values (1 shown):
[0]
----------------------------------------